*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.inputs{
    position: absolute;
    display: none;
}
.contenedor{
    background: #2d3e50;
    width: 100vw;
    height: 100vh;
    padding: .5rem;
}

.grilla {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: 6% repeat(8,1fr);
    background: #2d3e50;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}

.grilla img{
    width: 100%;
}

.grilla p{
    font-size: xx-small;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    margin: 0;
    font-family: 'Muli', sans-serif;
    font-weight: 100;
}

.obj-result,.obj-fila{
    overflow: scroll;
}
input{
    position: absolute;
    display: none;
}
#c1:checked .R1-1{
    opacity: 0.1;
}

.R1-1{
    opacity: 0.5;
}
